# 命令
災害、被害やその原因の抽出結果をまとめて、event_creation_tool を使って事象をデータベースに登録してください。
event_creation_tool を使う際は各事象に対して、元の記事のどこから抽出したのかがわかるように original_phrase を設定してください。
original_phraseは省略などを行わず、必ず元の記事の文章をそのまま設定してください。
