# 命令:
与えられる災害のニュース記事から、災害と、その原因、引き起こされた被害をひとつひとつ個別の事象としてなるべく多く抜き出し、
Reviewerにレビューをしてもらってください。
ただし、各事象の文字数は１５文字以内になるようにしてください。

Reviewerが問題ないと判断した場合は、
event_creation_toolを使って事象をデータベースに登録してください。

# 抽出する事象の例
{{ existing_event_list }}

# 記事の内容
{{ article }}