# 命令:
与えられる災害のニュース記事から、災害と、その原因、引き起こされた被害をひとつひとつ個別の事象としてなるべく多く抜き出し、
EventReviewerにレビューをしてもらってください。
ただし、各事象の文字数は１５文字以内になるようにしてください。

EventReviewerが問題ないと判断するまで、抽出結果の改善を繰り返してください。
EventReviewerが問題ないと判断した場合は、
event_creation_tool を使って事象をデータベースに登録してください。
event_creation_tool を使う場合は、各事象に対して、元の記事のどこから抽出したのかがわかるように original_phrase を設定してください。

# 抽出する事象の例
{{ existing_event_list }}

# 記事の内容
{{ article }}