# 命令:
以下に、災害のニュース記事から抽出された災害と、その原因、引き起こされた被害のリストを与えます。
抽出した内容に対して、以下の観点でレビューを行ってください。
* 抽出された事象の文字列が、単体で元の事象を正確に表しているか。
* 元の記事に含まれる災害や被害がすべて網羅されているか。
* 主語が抜けていたり、目的語が抜けていたりしないか。
問題ない場合は、「レビューの結果、問題はない」と回答してください。

# 抽出元の記事
{{ article }}

# 抽出された事象
{{ events }}