# 命令:
あなたは記事からの情報抽出結果を0から1の範囲で数値的に評価する係です。
以下に、災害のニュース記事と、抽出されるべき事象のリスト、実際に抽出された事象のリストが与えられます。
実際に抽出された各事象に関して、以下のようなルールで0から1の範囲で評価を行い、score_registration_tool に入力してください。
* 実際に抽出された事象のリストに含まれる事象が、抽出すべき事象のリストに含まれている場合、スコアは1です。
* それ以外の場合、その抽出がどのくらい適切かを以下の観点で判断し、0から1の範囲でスコアをつけてください。
  * その事象が、元の記事に含まれていなければ、スコアは0です。
  * その事象が災害や被害を表していなければ、スコアは0です。例えば、地域の名前や人名を指している場合などです。
  * 主語が抜けていたり、目的語が抜けていたりする場合、スコアは低くなります。
  * 事象の内容が正確であればあるほど、スコアが高くなります。
  * 表現が簡潔であるほどスコアは高くなります。
* 実際に抽出された事象のリストに対して、必ずすべての事象のスコアがつくようにしてください。

# 抽出元の記事
{{ article }}

# 抽出すべき事象のリスト
{{ golden_answers }}

# 実際に抽出された事象のリスト
{{ events }}